aiofiles
aiohttp
apscheduler
asyncio
bard
beautifulsoup4
bs4
dnspython
emojis
ffmpeg-python
gitpython
gpytranslate
gTTS
hachoir
heroku3
httpx
instaloader
lexica-api
motor 
numpy
opencv-python-headless
pillow==9.5.0
psutil
pickledb
pycountry
pycryptodome
pydub
pyfiglet
pykeyboard
python-dotenv
python-whois
pyshorteners
pyttsx3
pytz
pyrofork
pytgcalls>=4.0.0
ntgcalls
pyyaml
py-yt-search
qrcode
requests
SafoneAPI
speedtest-cli
SpeechRecognition
search_engine_parser
spotipy
telegraph
tgcrypto
unidecode
uvloop==0.21.0; sys_platform != "win32"
wget
youtube-search
youtube-search-python
yt-dlp>=2024.0.0
